body {
    display: flex;
    flex-direction: column;
}

button {
    background-color: deepskyblue;
    border-color: darkblue;
    border-width: 4px;
    border-color: cadetblue;
}

button:hover {
    background-color: skyblue;
}

#grid-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 960px;
    height: 960px;
}